PORT=3001
MONGODB_URI=Your_MONGODB_URI
FRONTEND_URL=http://localhost:3001/
NODE_ENV=development
JWT_SECRET=Your_JWT_SECRET
SESSION_SECRET=Your_SESSION_SECRET
EMAIL_USER=Your_EMAIL_USER
EMAIL_PASSWORD=Your_EMAIL_PASSWORD
TWILIO_ACCOUNT_SID=Your_TWILIO_ACCOUNT_SID
TWILIO_AUTH_TOKEN=Your_TWILIO_AUTH_TOKEN
TWILIO_PHONE_NUMBER=Your_TWILIO_PHONE_NUMBER
STRIPE_SECRET_KEY=Your_Stripe_Secret_Key
STRIPE_PUBLISHABLE_KEY=Your_STRIPE_PUBLISHABLE_KEY
STRIPE_WEBHOOK_SECRET=Your_STRIPE_WEBHOOK_SECRET
STRIPE_CURRENCY=usd
